---
---

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/montserrat-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('../assets/fonts/montserrat-v26-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/montserrat-v26-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


$rouge: #EB5E55;
$bleu: #58A4B0;
$noir: #0B0F1A;

body{
	width: 100%;
	height: 100vh;
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	color: $noir;
	font-family: 'Montserrat'
}

nav{
	width: 100%;
	max-width: 1190px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	a{
		text-decoration: none;
		color: $bleu;
	}
	span{
		font-weight: 400;
		color: $bleu;
	}
}

.nav_a-links{
	display: flex;
	flex-direction: column;
	width: 70%;
	font-size: 1em;
	div{
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.2em;
	}
}

.a_nav{
	color: $bleu;
	font-weight: 700;
	text-decoration: none;
}

.cta{
	font-weight: 700;
	padding: 0.4em;
	text-decoration: none;
	color: white;
	transition: all ease-in-out 0.3s;
	position: relative;
	letter-spacing: 0.05em;
	&::before, &::after{
		content: '';
		width: 100%;
		height: 3px;
		position: absolute;
	}
	&::before{
		top: 0;
		left: 0;
	}
	&::after{
		bottom: 0;
		right: 0;
	}
	&:hover{
		background-color: white;
	}
}

.red{
	background-color: $rouge;
	&::before, &::after{
		background-color: $rouge;
	}
	&:hover{
		color: $rouge;
	}
}

.blue{
	background-color: $bleu;
	&::before, &::after{
		background-color: $bleu;
	}
	&:hover{
		color: $bleu;
	}
}

h2{
	font-weight: 600;
	color: $rouge;
	letter-spacing: 0.05em;
	text-align: center;
}

h3{
	color: $bleu;
	margin: 0.5em 0 0.1em 0;
}

a{
	color: $bleu;
	font-weight: 600;
	transition: color ease-in-out 0.2s;
	&:hover{
		color: $rouge;
	}
}

img{
	max-width: 100%;
	height: auto;
}

.index_head{
	background-image: url('/assets/images/chorale-pleins-jeux_entete.png');
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1190px;
	min-height: 524px;
	margin: 0.9em 0 3.5em 0;
	position: relative;
	width: 100%;
	div{
		background-color: white;
		padding: 0.2em 0.5em;
		width: 60%;
		position: absolute;
		bottom: 0;
		right: 0;
		p{
			margin: 0.2em;
			font-size: 1.1em;
		}
		p:first-of-type:first-letter{
			font-size: 3em;
			float: left;
			color: $rouge;
		}
		b:first-of-type{
			color:$rouge;
		}
	}
}

.p_chef{
	text-align: left;
	b:first-of-type{
		color: $rouge;
	}
}
.p_chef:first-of-type:first-letter{
	font-size: 5em;
	float: left;
	color: $rouge;
}

.index_presentation{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	align-items: center;
	div{
		width: 50%;
	}
	p{
		font-size: 1.1em;
		}
}

.index_presentation div:nth-child(3){
	width: 70%;
	text-align: center;
}

.repetitions{
	max-width: 400px;
}
.repetitions p{
	margin: 0.1em 0;
}

.text-center{
	width: 100%;
	max-width: 590px;
	text-align: center;
	a.cta{
		margin-right: 0.5em;
	}
}

.line{
	display: flex;
	width: 100%;
	gap: 20px;
	justify-content: center;
	align-items: center;
	margin: 2em 0;
}

.pages_text{
	width: 70%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p_width-70{
	width: 70%;
	text-align: left;
}

ul{
	padding: 0;
}

footer{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	max-height: 400px;
	margin-top: auto;
	position: relative;
	padding-top: 3em;
	a.a_nav{
		font-weight: 400;
	}
	.repetitions p{
		font-size: 0.8em;
	}
	a.cta-red{
		height: fit-content;
	}
}

footer::before{
	content: url('/assets/images/note.svg');
	width: 55px;
	height: 42px;
	position: absolute;
	top: 10px;
	left: 50%;
	background-color: white;
	z-index: 1;
	translate: -50%;
}

footer::after{
	content: '';
	width: 100%;
	height: 2px;
	background-color: $rouge;
	position: absolute;
	top: 35px;
	z-index: 0
}

.nav-footer{
	display: flex;
	flex-wrap: wrap;
	width: 30%;
	align-items: center;
	a{
		margin: 0.2em 0.5em;
		width: fit-content;
		height: fit-content;
	}
}

.h1_pages{
	width: 100%;
	min-height: 250px;
	text-align: center;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	h1{
		color: white;
		font-size: 3.5em;
	}
}

ul.repertoire{
	list-style: none;
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	text-align: center;
	padding: 0;
	li{
		width: 50%;
	}
}

.p_big{
	font-size: 1.2em;
}

.faq, .calendrier{
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	gap: 20px;
	div{
		width: 48%;
	}
}

.calendrier div{
	position: relative;
	display: flex;
	align-items: center;
	.evenement{
		display: flex;
		flex-direction: column;
		justify-content: center;
	  width: 100%;
	  align-items: flex-start;
	}
	img{
		padding-right: 1em;
		border-right: 2px solid #77B5BF;
		margin-right: 1em;
		height: 46px;
	}
}

span.date{
	color: $bleu;
	font-weight: 700;
}

p.p_agenda{
	font-size: 1.2em;
	font-weight: 700;
	margin: 0.1em 0;
}

.evenement-retrospective{
	margin-top: 2em;
	border-bottom: 2px solid #eee;
	padding-bottom: 2em;
	img:nth-child(4){
		margin: 1em 0 0.2em 0;
	}
}

iframe{
	max-width: 100%;
}

.choeur{
	background-image: url('/assets/images/chorale-pleins-jeux_bandeau-choeur.png');
}

.chef{
	background-image: url('/assets/images/chorale-pleins-jeux_bandeau-chef.png');
}

.contact{
	background-image: url('/assets/images/chorale-pleins-jeux_bandeau-contact.png');
}

.agenda{
	background-image: url('/assets/images/chorale-pleins-jeux_bandeau-agenda.png');
}

@media (max-width: 1170px) {
  body{
  	width: 90%;
	}
  
  .line{
  	flex-direction: column;
  	align-items: center;
	}

	nav{
		.cta{
			font-size: 0.7em;
		}
	}

	.nav_a-links{
		font-size: 1em;
	}

	.index_presentation div{
		width: 90%;
		text-align: center;
	}

	footer{
		flex-direction: column;
		div{
			margin: 0.5em 0;
		}
	}

	footer a.a_logo{
		width: 15%;
	}
	
	.nav-footer{
		width: 80%;
		justify-content: space-between;
	}
	
	footer .repetitions{
	text-align: center;
	}

	.pages_text{
		width: 90%;
	}
}

@media (max-width: 990px) {
	.faq{
		gap: 0;
	}
	.faq div, .calendrier div {
			width: 100%;
	}
}

@media (max-width: 800px) {
	.a_logo{
		width: 5%;
	}
	
	.nav_a-links{
		width: 75%;
	}
}

@media (max-width: 750px) {
	body{
		width: 95%;
	}
	nav{
		flex-direction: column;
	}
	.a_logo{
		width: 15%;
		min-width: 50px;
	}
	.nav_a-links{
		margin: 0.5em 0;
		width: 100%;
	}

	.p_width-70{
		width: 90%;
		text-align: left;
	}

	.p_big{
		font-size: 1em;
	}
}

@media (max-width: 675px) {
	ul.repertoire{
		li{
			width: 100%;
		}
	}
}

@media (max-width: 470px) {
	.nav_a-links{ 
		text-align: center;
		a{
			margin: 0.2em 0;
		}
		div{
			flex-direction: column;
			align-items: center;
			order: 2;
		}
		span{
			order:1;
		}
	}

	.index_head{
		background-position: center bottom;
	  min-height: 324px;
	}
	.index_head div{
		width: 100%;
		padding: 0.2em; 
	}
}