---
---

<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Pleins Jeux</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Pleins Jeux - Chorale Lyonnaise">

  <link rel="shortcut icon" href="../img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../css/design.css">
  <script defer data-domain="acj-pleinsjeux.com" src="https://t.neamar.fr/js/script.js"></script>
  <title>Chorale Pleins Jeux à Lyon 8</title>
</head>
  <body>
    <nav>
      <a href="/" class="a_logo"><img src="/assets/logo.svg" width="68" height="106"></a>
      <div class="nav_a-links">
        <div>
          <a href="/" class="a_nav">Accueil</a>
          <a href="choeur.html" class="a_nav">Le chœur</a>
          <a href="chef-de-choeur.html" class="a_nav">Le chef</a>
          <a href="infos-contact.html" class="a_nav">Infos & Contact</a>
          <a href="agenda.html" class="a_nav">Agenda</a>
          <!-- <a href="" class="a_nav">Galerie</a> -->
        </div>
        <span>Pleins Jeux : Chorale Lyonnaise</span>
      </div>
    </nav>
    {{content}}
    <footer>
      <a href="/" class="a_logo"><img src="/assets/logo.svg" width="68" height="106"></a>
      <div class="nav-footer">
        <a href="/" class="a_nav">Accueil</a>
        <a href="choeur.html" class="a_nav">Le chœur</a>
        <a href="chef-de-choeur.html" class="a_nav">Le chef</a>
        <a href="infos-contact.html" class="a_nav">Infos & Contact</a>
        <a href="agenda.html" class="a_nav">Agenda</a>
        <!-- <a href="" class="a_nav">Galerie</a> -->
      </div>
      <div class="repetitions">
        <p>au <b>Centre social Laënnec</b></p>
        <p><b>63 rue Laënnec Lyon 8e.</b></p>
        <p>les <b>mercredis de 19h30 à 21h30</b> hors vacances scolaires (consulter le planning des répétitions).</p>
      </div>
    </footer>
  </body>
</html>
